.product__main {
  border-radius: 6px;
}
.product__save {
  position: relative;
  bottom: 2px;
  right: 7px;
}
.product__delete {
  position: relative;
  right: 7px;
}
.product__down {
  position: relative;
  top: 2px;
  left: 2px;
}
